html {
   font-size: 10px;
}

body {
    font-family: Lato;
    margin: 0;
}
.wrapper {
    max-width: 1020px;
    margin: 0 auto;
}
.header {
    width: 1020px;
    height: 89px;
    background-color: #2d303a;
    border-bottom: 5px solid #323746;;
    margin: 0 auto;
}
.header__navigation {
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;

}
.logo {
    font-size: 2.5rem;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 700;
    text-transform: uppercase;
}
.navigation {
    display: flex;
    justify-content: space-between;
    width: 373px;
    margin-right: 40px;

}
.navigation__item {
    font-size: 1.2rem;
    font-weight: 700;
    color: #f06c64;
    text-transform: uppercase;
    text-decoration: none;
}
.link {
    text-decoration: none;
    color: #ffffff;
}
.phones {
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    max-width: 1020px;
    justify-content: space-between;
    margin: 0 auto;
    height: 600px;
}
.phones__content {
    display: flex;
    align-items: center;
    padding-top: 55px;
    margin-left: 42px;
    justify-content: space-between;

}
.phone__vertical {
    padding-left: 56px;
    height: 459px;
    padding-right: 70px;
  
}
.phone__horizontal {
    padding-right: 70px;

}
.left_arrow {
    cursor: pointer;
}
.right_arrow {
    margin-right: 40px;
    cursor: pointer;
}
.services {
    background-color: #f2f2f2;
    border-bottom: #ffffff;
    max-width: 1020px;
    margin: 0 auto;
    padding-top: 68px;
}
.services__content {
    
    font-family: "Lato";
    
    margin-left: 40px;
}
.service_header {
    font-size: 3rem;
    font-weight: 900;
    color: #666d89;
}
.service_header_discribe {
    width: 940px;
    font-size: 1.8rem;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
}
.layout-3-column {
    padding-top: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 41px;
}
.item-of-service 
{
    display: flex;
    justify-content: space-between;
    width: 299px;
    margin-bottom: 27px;
}
.service_title {
    font-size: 1.8rem;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;

}
.service_discribe {
    font-size: 1.2rem;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    margin: 8px 0 0;
    height: 66px;
}
.service_icon {
    width: 59px;
    height: 59px;
}
.service_block {
    width: 220px;
}

